body{
  background-color: aliceblue;
}

/* class div header */
.div-header{
  margin-top: -5%;
}

/* Styles for all ul and ol*/
ul, ol{
  text-align: justify;
  font-size: 14px;
  color:black;
  font-style: normal;
}

/* Image Properties */
img{
  display:block;
  margin:auto;
  text-align: center;
  position: center;
  width: 200;
  height: 300;
  border-color:white;
  border-style: solid;
  border-width: 20;
}

/* Header styles */
header{
  height: 20%;
  text-align: center;
  position:relative;
  background-color:#694A38;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#DDF2EB;

}

/* Footer styles */
footer{
  width:100%;
  text-align: center;
  position: relative;
  background-color:#694A38;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#DDF2EB;
  
  
}

/* Heading 1 styles */
h1 {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin: 5% 20% 0% 20%;
}

/* Heading 2 styles */
h2{
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin: 0% 20% 0% 20%;
}

/* Heading 3 styles */
h3{
  text-align: center;
  color:black;
  font-weight: bold;
}

/* Main container style */
main > div{
  position: center;
  margin: 5% 20% 5% 20%;

}

/* Image Properties */
.map-container{
  position:relative;
  width:100%;
  height:400px;
  margin: 5% 5% 5% 0%;
  padding-left:0%;

}

main > div> section{
margin-bottom: 5%;
}

/* Default paragraphs */
p.default{
text-align: justify;
font-size: 14px;
color:black;
font-style: normal;
}

/* Center paragraphs */
p.center{
text-align: center;
font-size: 14px;
color:black;
}

/* Link Pseudo-Class*/

a:link {
  color:darkblue;
}

a:visited {
  color:blue;
}

a:hover {
  color:blueviolet; 
}

a:active {
  color:red;
}  
